<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>Тут автор</strong>
    <small>12.09.2021</small>
  </div>

  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, harum quas. Accusamus aspernatur assumenda, commodi earum esse libero nesciunt officiis perferendis quasi, quia repudiandae sequi soluta tenetur ullam vitae voluptatibus.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, harum quas. Accusamus aspernatur assumenda, commodi earum esse libero nesciunt officiis perferendis quasi, quia repudiandae sequi soluta tenetur ullam vitae voluptatibus.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, harum quas. Accusamus aspernatur assumenda, commodi earum esse libero nesciunt officiis perferendis quasi, quia repudiandae sequi soluta tenetur ullam vitae voluptatibus.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, harum quas. Accusamus aspernatur assumenda, commodi earum esse libero nesciunt officiis perferendis quasi, quia repudiandae sequi soluta tenetur ullam vitae voluptatibus.
  </div>

</div>
