.container {
  margin: 0 auto;
  max-width: 1040px;
}

.card {
  border: 1px solid #cccccc;
  padding: 12px;
}

.btn-del {
  background-color: red;
  padding: 4px;
}

.completed {
  text-decoration: line-through;
}
